.CardComponent {
  max-width: 454px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 35px;
}

.CardComponent__article {
  display: grid;
  grid-template-columns: 183px 1fr;
  min-height: 278px;
}

.CardComponent__article-img {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1/ 4 / 2;
}

.CardComponent__article-header {
  margin-top: 9px;
  margin-left: 21px;
  margin-right: 21px;
}
.CardComponent__article-header-title {
  margin-bottom: 4px;
}
.CardComponent__article-header-title-name {
  margin-bottom: 0;
}

.CardComponent__article-header-title-reit {
  font-size: 12px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  width: 34px;
  height: 34px;
  justify-content: center;
  margin-top: 2px;
  margin-right: -12px;
  float: right;
}

.CardComponent__article-header-reit_reit-low {
  border: 2px solid #e90000;
}

.CardComponent__article-header-reit_reit-mid {
  border: 2px solid #e97e00;
}

.CardComponent__article-header-reit_reit-high {
  border: 2px solid #e97e00;
}

.CardComponent__article-header-reit_reit-epic {
  border: 2px solid #66e900;
}

.CardComponent__article-date {
  font-size: 12px;
  color: #827e7e;
  margin-bottom: 10px;
}

.CardComponent__article-tags {
  display: flex;
  margin-bottom: 7px;
}

.CardComponent__article-tags-item {
  background: #fafafa;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  padding: 0 4px;
  margin-right: 8px;
}

.CardComponent__article-tags-item:last-child {
  margin-right: 0;
}

.CardComponent__article-text {
  font-size: 12px;
  line-height: 22px;
  margin-left: 21px;
  margin-right: 21px;
}

.CardComponent__article-vote {
  margin-left: 21px;
  margin-right: 6px;
  display: flex;
  align-items: flex-end;
}

.ant-rate-star:not(:last-child) {
  margin-right: 3px;
}
@media only screen and (max-width: 1010px) {
  .CardComponent {
    margin-bottom: 19px;
  }
}
@media only screen and (max-width: 475px) {
  .CardComponent__article {
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .CardComponent__article {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 115px max-content;
  }

  .CardComponent__article-img {
    margin-top: 3px;
    grid-area: unset;
  }
  .CardComponent__article-header {
    margin: 0 11px 0 12px;
  }
  .CardComponent__article-header-title-name {
    font-size: 20px;
  }

  .CardComponent__article-text {
    grid-area: 2 / 1 / 2/ 3;
    margin: 13px 0 0;
  }

  .CardComponent__article-vote {
    grid-area: 3 / 1 / 3/ 3;
    margin: 0;
    justify-content: flex-end;
    display: flex;
    padding-top: 8px;
  }
}
