.CardComponent {
  width: 454px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 35px;
}

.CardComponent__article {
  display: grid;
  grid-template-columns: 183px 1fr;
}

.CardComponent__article-img {
  width: 183px;
  height: 281px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardComponent__article-content {
  margin: 9px 21px;
}
.CardComponent__article-content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.CardComponent__article-content-header-title {
  margin-bottom: 0;
}

.CardComponent__article-content-header-reit {
  font-size: 12px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  width: 34px;
  height: 34px;
  justify-content: center;
  position: relative;
  right: -15px;
  top: 2px;
}

.CardComponent__article-content-header-reit_reit-low {
  border: 2px solid #e90000;
}

.CardComponent__article-content-header-reit_reit-mid {
  border: 2px solid #e97e00;
}

.CardComponent__article-content-header-reit_reit-high {
  border: 2px solid #e97e00;
}

.CardComponent__article-content-header-reit_reit-epic {
  border: 2px solid #66e900;
}

.CardComponent__article-content-date {
  font-size: 12px;
  color: #827e7e;
  margin-bottom: 10px;
}

.CardComponent__article-content-tags {
  display: flex;
  margin-bottom: 7px;
}

.CardComponent__article-content-tags-item {
  background: #fafafa;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  padding: 0 4px;
  margin-right: 8px;
}

.CardComponent__article-content-tags-item:last-child {
  margin-right: 0;
}

.CardComponent__article-content-text {
  font-size: 12px;
  line-height: 22px;
  height: 132px;
}

.ant-rate-star:not(:last-child) {
  margin-right: 3px;
}
