.HeaderTabs {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.HeaderTabs__item {
  width: 65px;
  text-align: center;
  padding-bottom: 12px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  margin-right: 16px;
}

.HeaderTabs__item:last-child {
  margin-right: 0;
}

.HeaderTabs__item-selected,
.HeaderTabs__item:hover {
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
}
